body {
  background-color: #f1ebe4;
  color: #4e5f6a;
  font-family: "Indie Flower", cursive;
  font-size: 1.125rem; }

a,
a:hover {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "belligerent";
  src: url("/assets/webfonts/belligerent-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  background-color: #e3d7ca; }
  .header .navbar .bars-icon {
    border: solid 1px #3d2000;
    padding: 4px; }
    .header .navbar .bars-icon .line {
      background-color: #3d2000;
      width: 24px;
      height: 2px;
      margin: 4px 4px; }
  .header .navbar-nav .nav-link {
    font-size: 1.25rem;
    color: #4e5f6a; }
  .header .navbar-nav .active {
    color: #3d2000; }
  .header .navbar-nav #cart {
    position: relative; }
    .header .navbar-nav #cart .cart-qty {
      position: absolute;
      background-color: #4e5f6a;
      color: white;
      text-align: center;
      width: 1rem;
      height: 1rem;
      font-size: 0.8rem;
      border-radius: 50%;
      top: 0.125rem;
      right: -0.125rem; }
  .header .navbar-nav .register {
    color: #096772; }

.footer {
  color: #3d2000;
  background-color: #e3d7ca; }
  .footer .ori-title2 {
    font-size: 2.5rem; }
  .footer .social {
    font-size: 1.5rem; }

.ori-title1 {
  font-family: "belligerent";
  font-size: 3.75rem;
  color: #3d2000; }

.ori-title2 {
  font-size: 3.75rem;
  font-family: "belligerent"; }

.ori-title3 {
  font-size: 1.875rem; }

.btn-color {
  background-color: #b69391;
  color: #3d2000;
  border: none; }

.jumbotron-img-index {
  height: 400px;
  background-image: url("/assets/images/teddy_by_marina_shatskih_index_992px.jpg");
  background-position: center; }

@media screen and (min-width: 992px) {
  .jumbotron-img-index {
    background-image: url("/assets/images/teddy_by_marina_shatskih_index_1920px.jpg");
    background-position: center 30%;
    background-size: cover; } }

.products .card {
  background-color: #e8d9d9;
  border-radius: 1rem;
  overflow: hidden; }
  .products .card-img-top {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover; }
  .products .card-body .card-title {
    color: #3d2000;
    font-size: 1.5rem; }
  .products .card-body .card-price .price {
    color: #22181c;
    font-size: 1.5rem; }

.card .card-product {
  height: 300px; }

.card .label-color {
  background-color: #b69391;
  color: #3d2000;
  border: none; }

.card .select-color {
  background-color: #f1ebe4;
  color: #3d2000;
  border: none; }

.card .input-group {
  width: auto; }
  .card .input-group select {
    border-radius: 0 0.25rem 0.25rem 0; }

@media screen and (min-width: 768px) {
  .card .card-product {
    height: 600px;
    width: 50%;
    border-radius: 1rem 0 0 1rem; } }

#summary {
  border-bottom: 2px solid #4e5f6a;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.quantity input {
  width: 26px;
  height: 26px; }

.quantity span {
  display: block; }

.jumbotron-img-command {
  height: 600px;
  background-image: url("/assets/images/teddy_by_marina_shatskih_command_992px.jpg");
  background-position: center; }

@media screen and (min-width: 992px) {
  .jumbotron-img-command {
    background-image: url("/assets/images/teddy_by_marina_shatskih_command_1920px.jpg");
    background-position: center 30%;
    background-size: cover; }
    .jumbotron-img-command .command p {
      color: #3d2000;
      font-size: 1.5rem; } }
