.header {
  background-color: #e3d7ca;
  .navbar {
    .bars-icon {
      border: solid 1px #3d2000;
      padding: 4px;
      .line {
        background-color: #3d2000;
        width: 24px;
        height: 2px;
        margin: 4px 4px;
      }
    }
    &-nav {
      .nav-link {
        font-size: 1.25rem;
        color: #4e5f6a;
      }
      .active {
        color: #3d2000;
      }
      #cart{
        position: relative;
        .cart-qty {
        position: absolute;
        background-color: #4e5f6a;
        color: white;
        text-align: center;
        width: 1rem;
        height: 1rem;
        font-size: 0.8rem;
        border-radius: 50%;
        top: 0.125rem;
        right: -0.125rem;
      }
      }
      .register {
        color: #096772;
      }
    }
  }
}
