#cart-main {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .cart-main-box {
    border-radius: 1rem;
    @include make-col-ready();
    .card-article {
      @include make-col-ready();
      @include make-row();
      @extend .m-0;
      @extend .p-0;
      .card-box {
        @include make-row();
        @include make-col(7);
        @extend .m-0;
        &-img {
          @include make-col(5);
          border-radius: 1rem;
        }
        &-body {
          @include make-col(7);
          @extend .align-self-center;
          @extend .text-nowrap;
          overflow: hidden;
          &-title {
            @extend .ml-3;
            @extend .font-weight-bold;
            color: #3d2000;
          }
          &-text {
            @extend .ml-3;
            @extend .font-weight-bold;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .card-component {
        @include make-col(5);
        @extend .d-flex;
        &-quantity {
          @include make-col(4);
          @extend .d-flex;
          @extend .justify-content-center;
          @extend .align-items-center;
          cursor: pointer;
          input {
            @extend .font-weight-bold;
            @extend .text-center;
            @extend .mx-1;
            width: 26px;
            height: 26px;
          }
          span {
            @extend .font-weight-bold;
            display: block;
          }
        }
        &-price {
          @include make-col(5);
          @extend .align-self-center;
          @extend .text-center;
          @extend .m-0;
          @extend .font-weight-bold;
          color: #22181c;
          font-size: 1.5rem;
        }
        &-remove {
          @include make-col(3);
          @extend .align-self-center;
          @extend .text-center;
          cursor: pointer;
        }
      }
    }
    .back-home {
      @extend .d-flex;
      @extend .mt-3;
      i {
        @extend .pt-1;
      }
      span {
        @extend .mx-2;
      }
    }

    #summary {
      border-bottom: 2px solid #4e5f6a;
      margin-bottom: 1rem;
      #total-items {
        @include make-col(6);
        @extend .font-weight-bold;
        color: #22181c;
      }
      #total-price {
        @include make-col(6);
        @extend .text-right;
        @extend .font-weight-bold;
        color: #22181c;
      }
    }
    #form-order {
      label {
        color: #22181c;
      }
      #formButton {
        @extend .d-block;
        @extend .m-auto;
      }
      #formButton:hover {
        color: #3d2000;
        background-color: #e8d9d9;
        border-color: #e8d9d9;
      }
    }
  }
}
