#cart{
  position: relative;
  #cart-qty {
  position: absolute;
  background-color: #4e5f6a;
  color: white;
  text-align: center;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  border-radius: 50%;
  top: 0.125rem;
  right: -0.125rem;
}
}

#summary {
  border-bottom: 2px solid #4e5f6a;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.quantity {
  input {
    width: 25px;
    height: 25px;
  }
  span {
    display: block;
  }
}

