.jumbotron {
  &-img {
    height: 400px;
    background-image: url("/assets/images/teddy_by_marina_shatskih_992.jpg");
    background-position: center;
  }
  @media screen and (min-width: 992px) {
    &-img {
      background-image: url("/assets/images/teddy_by_marina_shatskih_1920.jpg");
      background-position: center 30%;
      background-size: cover;
    }
  }
}
.products {
  .card {
    background-color: #e8d9d9;
    border-radius: 1rem;
    overflow: hidden;
    &-img-top {
      height: 250px;
      object-fit: cover;
    }
    &-body {
      .card-title {
        color: #3d2000;
        font-size: 1.5rem;
      }
      .card-price {
        .price {
          color: #22181c;
          font-size: 1.5rem;
        }
      }
    }
  }
}
