
.card {
    .card-product {
        height: 300px;
    }
    .label-color {
        background-color: #b69391;
        color: #3d2000;
        border: none
    }
    .select-color {
        background-color: #f1ebe4;
        color: #3d2000;
        border: none;
    }
    .input-group {
        width: auto;
        select {
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }
}
@media screen and (min-width: 768px) {
   .card {
    .card-product {
        height: 600px;
        width: 50%;
        border-radius: 1rem 0 0 1rem;
    }
} 
}
