#command-container {
  @include make-col-ready();
  .jumbotron {
    &-img-command {
      height: 600px;
      background-image: url("/front-end/assets/images/teddy_by_marina_shatskih_command_992px.jpg");
      background-position: center;
      border-radius: 1rem;
      .command {
        p {
          color: #f8f9fa;
          font-size: 1.5rem;
        }
      }
    }
    @media screen and (min-width: 992px) {
      &-img-command {
        background-image: url("/front-end/assets/images/teddy_by_marina_shatskih_command_1920px.jpg");
        background-position: center 30%;
        background-size: cover;
      }
    }
  }
}
